# deployment
DEPLOYER_PRIVATE_KEY=
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
ETHERSCAN_API_KEY=

# overrides (optional)
# TREASURY=0xd3358b1F39A6a71911c6e33717D185F99d43e80d
# GRADUATION_ETH=0.05
